<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mgt\DeveloperToolbar\Block\Toolbar\Container\Sidebar\Block\Blocks">
        <plugin name="plopcom-mgt-developer-toolbar-hyva-compatibility-around-render-blocks-plugin" type="Plopcom\MgtDeveloperToolbarHyvaCompatibility\Plugin\AroundRenderBlocksPlugin" sortOrder="10" disabled="false" />
    </type>
</config>
