<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Plopcom_MgtDeveloperToolbarHyvaCompatibility" setup_version="0.0.1">
    </module>
    <sequence>
        <module name="Mgt_DeveloperToolbar"/>
        <module name="FriendsOfHyva_AlpineJsPersist"/>
    </sequence>
</config>
